<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pzg.code.login.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.pzg.code.login.entity.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="auth_id" property="authId" jdbcType="VARCHAR" />
  </resultMap>
</mapper>